<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <meta content='Test website' name='description'><meta content='sample' name='keywords'>
  <title>
   Home
  </title>
  <link rel="stylesheet" type="text/css" href="asserts/css/main.css" />
  <link href='asserts/css/commoncss.css?rn=cc4d59d2-54fb-480e-bc44-0a0dac184856' type='text/css' rel='stylesheet'>
<link href='asserts/css/52c675edfd7ea1105e693bd1.css?rn=3c62dab8-8ef8-450a-8697-899850a15b3e' type='text/css' rel='stylesheet'>
<link href='asserts/css/website52c675edfd7ea1105e693bcd.css?rn=a5a4733f-cb22-403f-8f8b-1f1de9530add' type='text/css' rel='stylesheet'>
 </head>
 <body>
  <!-- start header -->
  <div class="topcontainer">
   
        <div Widget='true'  widget-id='qmw52c675edfd7ea1105e693bce'  widget-type='HeaderContainer'  id='header'  class='header qmw52c675edfd7ea1105e693bce ' >
            <div Widget='true'  widget-id='qmw52ca713bfd7ea114b7e50aec'  widget-type='TextWidget'  class=' qmw52ca713bfd7ea114b7e50aec' >
                <div class='qm-wrapper' >
                    <div contenteditable='false'  class='qm-text-editor' ><font size="7"><b>    					Bis</b></font><font color="#04b7c9" size="7">Lite</font> 
                    </div> 
                </div> 
            </div>
        </div>
   
        <div Widget='true'  widget-id='qmw52c675edfd7ea1105e693bd2'  widget-type='MainContainer'  id='main'  class='main qmw52c675edfd7ea1105e693bd2 ' >
    
        </div>
   
        <div Widget='true'  widget-id='qmw52c675edfd7ea1105e693bd0'  widget-type='FooterContainer'  id='footer'  class=' qmw52c675edfd7ea1105e693bd0' >
            <div Widget='true'  widget-id='qmw52ca8028fd7ea114b7e50d50'  widget-type='ContainerWidget'  class=' qmw52ca8028fd7ea114b7e50d50' >
                <div Widget='true'  widget-id='qmw52ca8028fd7ea114b7e50d51'  widget-type='TextWidget'  class=' qmw52ca8028fd7ea114b7e50d51' >
                    <div class='qm-wrapper' >
                        <div contenteditable='false'  class='qm-text-editor' >    					    					    					
							<font color="#363636">Phasellus lobortis metus non augue sodales volutpat. Vestibulum sit amet nibh eros, hendrerit venenatis est. In vitae nulla nec purus cursus pretium sed id magna.</font>    					    					    					 
                        </div> 
                    </div> 
                </div>
                <div Widget='true'  widget-id='qmw52ca8028fd7ea114b7e50d52'  widget-type='titlewidget'  class=' qmw52ca8028fd7ea114b7e50d52' >
                    <div class='qm-wrapper' >
                        <h1 contenteditable='false'  class='qm-text-editor' >    					    					    					<font size="3">ABOUT US</font> 
                        </h1> 
                    </div> 
                </div> 
            </div>
            <div Widget='true'  widget-id='qmw52ca8028fd7ea114b7e50d53'  widget-type='ContainerWidget'  class=' qmw52ca8028fd7ea114b7e50d53' >
                <div Widget='true'  widget-id='qmw52ca8028fd7ea114b7e50d54'  widget-type='titlewidget'  class=' qmw52ca8028fd7ea114b7e50d54' >
                    <div class='qm-wrapper' >
                        <h1 contenteditable='false'  class='qm-text-editor' ><font size="3">CONTACT US</font>    					 
                        </h1> 
                    </div> 
                </div>
                <div Widget='true'  widget-id='qmw52ca8028fd7ea114b7e50d55'  widget-type='TextWidget'  class=' qmw52ca8028fd7ea114b7e50d55' >
                    <div class='qm-wrapper' >
                        <div contenteditable='false'  class='qm-text-editor' >    					    					    					    					<font color="#363636">BisLite Inc.&nbsp;</font><div><font color="#363636">Always Street 265&nbsp;</font></div><div><span style="color: rgb(54, 54, 54);">0X - 125 - Canada&nbsp;</span></div><div><span style="color: rgb(54, 54, 54);"><br></span></div><div><span style="color: rgb(54, 54, 54);">Phone: 987-6543-210&nbsp; </span></div><div><span style="color: rgb(54, 54, 54);">Fax: 987-6543-210</span></div> 
                        </div> 
                    </div> 
                </div> 
            </div>
            
        </div>
   
   <!-- END #footer -->
  </div>
  <!-- end header -->
  <script src='asserts/js/52c675edfd7ea1105e693bd1.js?rn=161b51e3-15cc-4794-b980-f70bd8ed8bf8' type='text/javascript'></script>

 </body>
</html>
