{
"templatedir" : "template",
"assertdir" : "asserts",
"pagedir" : "pages" ,

"default": {
        "layout": "layout.html",
        "homepage": "home",
        "meta": [{ "name": "description" ,"content": "Test website" }, { "name": "keywords" ,"content": "sample" }],
        "title": "Default Website",
        "basecss": "layout.css",
        "custom_styles":{
				"layoutwidth": "1131"
			}
        },
"pages":[
        {
        "title": "Home",
        "name": "home",
        "meta": [{ "name": "description" ,"content": "Test website" }, { "name": "keywords" ,"content": "sample" }],
        "file": "home.html"
        }
        ]
}

